@media (width < 910px) {
    .hero-blob{
        right: -15%;
        top: 10%;
        width: 600px;
        height: 600px;
    }
    .navbar .navlinks .nav-links{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        background: var(--navbar);
        padding: 20px;
        /* top: -500px; */
        border-bottom: 3px solid #6d83f2;
        right: -65vw;
        transition: 0.2s linear;
        box-shadow: 2px 2px 5px var(--bx-2);
        width: 150vw;
        border-radius: 0px 0px 10px 10px;
        z-index: 999999;
        /* height: 0px; */
        display: none;
        overflow: hidden;
    }
    .navbar .navlinks .nav-links.active{
        transition: 0.2s linear;
        top: 28.1px;
        height: 250px;
        animation: x 0.2s linear;
        display: inline-flex;
    }
    @keyframes x {
        0%{
            height: 0px;
        }
        100%{
            height: 250px;
        }
    }
    #menu-btn{
        display: block;
    }
    .navbar .navlinks .nav-links li{
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }
}
